@font-face{
	font-family: MackinacBold;
    src: url("../fonts/mackinac-bold.woff2") format("woff2");
}
@font-face{
	font-family:MackinacMedium;
	src: url("../fonts/mackinac-medium.woff2") format("woff2");
}
@font-face{
	font-family:FricolageGrotesque;
	src:url("../fonts/fricolage-grotesque.var.woff2") format("woff2");
}
* {
	margin: 0 auto;
	padding:0;
}
body{
	display: flex;
	height: 100vh;
	background:linear-gradient(140deg,#5833ff,#5f0096)
}
#header{
	display: flex;
	margin:30px 0px;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	width:100vw;

}
#headerButton{
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}
#headerButton span{
	font-family:MackinacMedium;
	font-weight:bolder;
	font-size: 20px;
}
#header ul{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	border-radius: 10px;
	padding: 0px 15px;
	background-color: RGBA(255,255,255,0.8);
	border:solid #FFF 1px;
	height: 40px;
	
}
#header li{
	font-family:FricolageGrotesque;
	border-radius: 6px;
	padding: 5px 10px;
	list-style-type: none;
}
#header li:hover{
	color: #3c2eff;
	background-color: rgba(42, 57, 255,0.04);
	cursor: pointer;
}